{% extends "base.html" %}

{% block title %}System{% endblock %}

{% block body %}
<h3>Measurement Programs</h3>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Date</th>
            </tr>
        </thead>
            <tbody>
            {% for program in programs  %}
            <tr>
                <td><a href="{{ url_for('main.program', program_id=program.program_id) }}">{{program.file_name}}</a></td>
                <td>{{program.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}